<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Session Coders</title>
    <link rel="stylesheet" href="/public/css/style.css"> <!-- Link para o arquivo CSS -->
</head>
<body> <!-- Fundo degradê preto e prata -->
    {{{body}}} 
</body>
</html>
