<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat em Tempo Real</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <h1>Bem-vindo ao Chat em Tempo Real da CODERHOUSE</h1>
    <div id="chatbox-container">
        <input type="text" id="chatbox" placeholder="Digite sua mensagem e pressione Enter">
    </div>
    <div id="messageLogs"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="public/js/index.js"></script>
</body>
</html>
