<h1>Registro de Usuário</h1>
    <form action="/registro" method="POST">
        <label for="primeiro_nome">Primeiro Nome:</label>
        <input type="text" id="primeiro_nome" name="primeiro_nome" required><br>
        <label for="segundo_nome">Segundo Nome:</label>
        <input type="text" id="segundo_nome" name="segundo_nome" required><br>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" required><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        <button type="submit">Registrar</button>
    </form>