<div class="container">
        <h1>Registro de Usuário</h1>
        <form action="/usuario" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="senha" id="senha" name="senha" required>

            <input type="submit" value="Registrar">
        </form>
    </div>
  