  <h1>Olá Coders! Bem Vindos ao chat em tempo real.</h1>
    <div id="chatbox-container">
        <input type="text" id="chatbox" placeholder="Digite sua mensagem e pressione Enter">
    </div>
    <div id="messageLogs"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="public/js/index.js"></script>
