 <div class="profile-container">
        <div class="profile-card">
            <h1>Perfil do Usuário</h1>
            <div class="profile-info">
                <p><strong>Nome:</strong> {{ primeiro_nome }} {{ segundo_nome }}</p>
                <p><strong>E-mail:</strong> {{ email }}</p>
                <p><strong>Idade:</strong> {{ idade }}</p>
            </div>
           <div class="profile-btn-container">
        <a href="/logout" class="profile-btn">Sair</a>
    </div>
        </div>
    </div>